{% extends 'base.html.twig' %}

{% block body %}
    <h1>Dish</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ dish.id }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{% if dish.date %}{{ dish.date|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_dish_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('admin_dish_edit', { 'id': dish.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
